/* ===========  RESET  =======================*/
body { 
		margin: 0;
		padding: 0;
	}
/* ===========  RESET  =======================*/

/* Tabela do Bootstrap */
.table-responsive{
	width: 80% !important;/* Largura da tabela*/
	margin: auto !important;/* Centraliza sua tabela */
	padding: 16px !important;
	margin-top: 80px !important;
}
/* Centralizar conteúdo na vertical */
#vertical-center{
/*centralizar de forma responsiva*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
#h1{
    font-size: 200px !important;
}