/* ===========  RESET  =======================*/
body { 
		margin: 0;
		padding: 0;
	}
/* ===========  RESET  =======================*/

/* Tabela do Bootstrap */
.table-responsive{
	width: 80%;/* Largura da tabela*/
	margin: auto;/* Centraliza sua tabela */
	padding: 16px;
	margin-top: 30px;
}
/*

Alinhamento vertical com id na classe

*/
#vertical-center{
/*centralizar de forma responsiva*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-70%);/*70% um pouco acima do meio*/

}
#background {
/*width: 100vw;
height: 100vh;
background: url('calculator-ga1699b74b_1280.jpg');
background-size: cover;
-webkit-filter: blur(10px);
-moz-filter: blur(10px);
-o-filter: blur(10px);
-ms-filter: blur(10px);
filter: blur(10px);*/
	}
#h1{
    font-size: 200px !important;
}